html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: rgb(255, 255, 255);
}
  
  .positionedIMG {
    position: absolute;
    top: 20%;
    left: 36%;
    width: 480px;
  }
  .haut_G {
    position: absolute;
    top: 3%;
    left: 2%;
    font-size: 13px;
    color: black;
  }
  .haut_G_2{
      position: absolute;
      top: 3%;
      left: 8%;
      font-size: 13px;
      color: black;
  }
  .haut_G:link, .haut_G_2:link{
      text-decoration: none;
  }

  .haut_G:hover, .haut_G_2:hover{
      text-decoration: underline;
  }

  .imgIcone{
      position: absolute;
      width: 40px;
      top: 2%;
      right: 2%;   
  }

  .NineSquare{
      position: absolute;
      top: 3.5%;
      right: 6%;
      width: 18px;
      filter: opacity(30%);
  }
  
  .NineSquare:hover{
      filter: opacity(80%);
  }

  .Search{
      width: 40%;
      position: absolute;
      top: 45%;
      left: 30%;
      border-radius: 25px;
      border-color:rgb(153, 153, 153);
      padding: 10px 10px 10px 60px;
      font-size: 20px;
  }
  .Search:focus, .Search:hover{
      border: 3px solid rgb(102, 102, 102);
  }
  .loupeclass{
      filter: opacity(30%);
      position: absolute;
      top: 47%;
      left: 32%;
      width: 20px;
  }

  .imgAclass{
    position: absolute;
    top: 3%;
    right: 8%;
    font-size: 13px;
    color: black;
  }

  .imgAclass:link{
      text-decoration: none;
  }

  .imgAclass:hover{
      text-decoration: underline;
  }

  .gmailclass{
      position: absolute;
      top: 3%;
      right: 12%;
      font-size: 13px;
      color: black;
  }

  .gmailclass:link{
      text-decoration: none;
  }

  .gmailclass:hover{
      text-decoration: underline;
  }