html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: rgb(255, 255, 255);
}
  
  .positionedIMG {
    position: absolute;
    top: 20%;
    left: 35%;
    width: 480px;
  }
  .haut_G {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 12px;
    color: black;
  }
  .haut_G_2{
      position: absolute;
      top: 2%;
      left: 8%;
      font-size: 12px;
      color: black;
  }
  .haut_G:link, .haut_G_2:link{
      text-decoration: none;
  }

  .haut_G:hover, .haut_G_2:hover{
      text-decoration: underline;
  }

  .imgIcone{
      position: absolute;
      width: 40px;
      top: 2%;
      right: 2%;   
  }

  .NineSquare{
      position: absolute;
      top: 3.5%;
      right: 6%;
      width: 18px;
      filter: opacity(30%);
  }
  
  .NineSquare:hover{
      filter: opacity(80%);
  }

  .Search{
      width: 40%;
      position: absolute;
      top: 45%;
      left: 30%;
      border-radius: 25px;
      border-color:rgb(153, 153, 153);
  }
  .Search:focus, .Search:hover{
      border: 3px solid #555;
  }
