html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: rgb(255, 255, 255);
}
    

  .positionedIMG {
    position: absolute;
    top: 20%;
    left: 36%;
    width: 480px;
  }
  .haut_G {
    position: absolute;
    top: 3%;
    left: 2%;
    font-size: 13px;
    color: black;
  }
  .haut_G_2{
      position: absolute;
      top: 3%;
      left: 8%;
      font-size: 13px;
      color: black;
  }

  .imgIcone{
      position: absolute;
      width: 40px;
      top: 2%;
      right: 2%;   
  }

  .NineSquare{
      position: absolute;
      top: 3.5%;
      right: 6%;
      width: 18px;
      filter: opacity(30%);
  }
  
  .NineSquare:hover{
      filter: opacity(80%);
  }

  .Search{
      width: 40%;
      position: absolute;
      border-style: solid;
      top: 45%;
      left: 30%;
      border-radius: 25px;
      border-width: 1px;
      border-color:rgb(206, 206, 206);
      padding: 10px 10px 10px 60px;
      font-size: 20px;
  }
  .Search:focus, .Search:hover{
      box-shadow: 1px 1px 1px 1px rgb(196, 195, 195);
  }
  .loupeclass{
      filter: opacity(30%);
      position: absolute;
      top: 47%;
      left: 32%;
      width: 20px;
  }

  .imgAclass{
    position: absolute;
    top: 3%;
    right: 8%;
    font-size: 13px;
    color: black;
  }

  .imgAclass:link{
      text-decoration: none;
  }

  .imgAclass:hover{
      text-decoration: underline;
  }

  .gmailclass{
      position: absolute;
      top: 3%;
      right: 12%;
      font-size: 13px;
      color: black;
  }

  .gmailclass:link{
      text-decoration: none;
  }

  .gmailclass:hover{
      text-decoration: underline;
  }

  .bgoogle{
      padding: 12px 12px;
      border-style: solid;
      position: absolute;
      top: 55%;
      left: 41%;
      border-color: white;
      border-radius: 5px; 
      border-width: 1px;
      color: gray;
      font-size: 14px;
  }

  .bgoogle:hover, .bchance:hover{
      border-color: rgb(209, 209, 209);
  }

  .bchance{
    padding: 12px 12px;
    border-style: solid;
    position: absolute;
    top: 55%;
    right: 41%;
    border-color: white;
    border-radius: 5px; 
    border-width: 1px;
    color: gray;
    font-size: 14px;
  }

  .restecheztoi{
    position: absolute;
    top: 62%;
    left: 40%;
    font-size: 13px;
  }

 

.dispo{
    position: absolute;
    top: 65%;
    left: 44%;
    font-size: 13px;
}
.eng{
    position: absolute;
    top: 66.7%;
    left: 53%;
    font-size: 14px;
}

.pub{
    position: absolute;
    bottom: 2%;
    left: 2%;
    font-size: 14px;
    color: rgb(70, 70, 70);
}
.can{
    position: absolute;
    bottom: 5.5%;
    left: 2%;
    font-size: 14px;
    color: rgb(107, 107, 107);
}

.ent{
    position: absolute;
    bottom: 2%;
    left: 8%;
    font-size: 14px;
    color: rgb(70, 70, 70);
}

.comment{
    position: absolute;
    bottom: 2%;
    left: 14%;
    font-size: 14px;
    color: rgb(70, 70, 70);
}

.conf{
    position: absolute;
    bottom: 2%;
    right: 20%;
    font-size: 14px;
    color: rgb(70, 70, 70);
}

.utili{
    position: absolute;
    bottom: 2%;
    right: 8%;
    font-size: 14px;
    color: rgb(70, 70, 70);
}

.para{
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-size: 14px;
    color: rgb(70, 70, 70);
}
.haut_G:link, .haut_G_2:link, .restecheztoi:link, .eng:link, .pub:link, .ent:link, .comment:link, .conf:link, .utili:link, .para:link{
    text-decoration: none;
}
.haut_G:hover, .haut_G_2:hover, .restecheztoi:hover, .eng:hover, .pub:hover, .ent:hover, .comment:hover, .conf:hover, .utili:hover, .para:hover{
    text-decoration: underline;
}
